<div class="panel panel-info fields">
  <div class="panel-body">
    <%= f.text_field :content, class: "form-control word_content" %>
    <%= f.check_box :is_correct, class: "radio_answer" %>
    <%= f.label :is_correct, t("questions.new.is_correct"),
      class: "correct_answer" %>
    <%= link_to_remove_fields raw("<span class='glyphicon glyphicon-remove-circle'></span>"),
      f %>
  </div>
</div>
