<div class="content container">
  <div class="col-md-10 col-md-offset-1 width-flash">
  </div>
  <div class="row" id="question">
    <div class="col-md-10 col-md-offset-1">
      <h1>
        <b><%= t ".title" %></b>
        <%= link_to t(".new_q"), new_user_question_path, class: "pull-right link-text-question" %>
      </h1>
    </div>
  </div>
</div>
