@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
.center {
  text-align: center;
 }
#navigator {
  background-color: #F8F8F8;
  border-color: #e7e7e7;
}

#logo {
  float: left;
  color: #777;
  font-size: 20px;
  padding-top: 10px;
  margin-left: -80px;
  text-decoration: none;
}

#footer {
  border-top: 1px solid #E1E1E1;
  .about {
    float: right;
    margin-top: -30px;
    color: #777;
  }
}

/*question*/
h2{
  font-size:30px;
}
#question .link-text-question{
  font-size: 0.5em;
  line-height: 3em;
}
.pull-right{
  float: right;
}

.viewdetail {
  a {
    color: white;
  }
}

.new_subject {
  margin-top: 5px;
}

.label{
  width: 5px;
  height: 3px;
}

.title{
  width: 30px;
  font-weight: bold;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}

thead{
  background-color: #E1E1E1
}

.table-exam{
  text-align: center;
}

.content-question-admin {
  width: 30%;
}

#table-show-admin {
  width: 80%;
  td {
    padding: 5px;
  }
}

.first_row {
  width: 20%;
}

.timer{
  border: 1px solid #E6E6E6;
  background-color: #FFFFCC;
  float: right;
  position: fixed;
  right: 70px;
  top: 70px;
  width: 150px;
}

.btn_save{
  float:left;
}

.btn_finish{
  float:right;
}

.navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus{
    color: #0F0F0F;
    background-color: transparent
  }

.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #F8F8F8;
    color: #000000;
}

.navbar-inverse .navbar-nav > .open > a:visited{
  background-color: #F8F8F8;
  color: #000000;
}

#exam_subject_id{
  padding: 7px;
  border-radius: 4px;
}
#mail_content {
  .score_exam {
    margin-left: 5px;
  }
  p {
    font-size: 1.6em;
  }
}
