<div id="footer">
  <p><%= t "application.general.footer" %></p>
  <div class="nav_left">
    <%= link_to t("application.genaral.about"), static_pages_about_path, class: "about" %>
    <%= render_shareable buttons: ["twitter", "facebook", "google_plus"] %>
  </div>
</div>
